<h1>Sign Up</h1>
<%= form_for @member do |f|%>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :website_address %><br>
  <%= f.text_field :website_address %><br>

  <%= f.label :password%><br>
  <%= f.password_field :password%><br>

  <%= f.submit %>
<%end%>

<p> Already a member? <%= link_to "Login", "/login" %> </p>
